APP_NAME="Clinica Medica"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/Guatemala
APP_URL=http://localhost:8000

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=clinica_db
DB_USERNAME=clinica_user
DB_PASSWORD=clinica_pass123
DB_ROOT_PASSWORD=root_password_segura

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database
QUEUE_CONNECTION=database
